@import '~react-reflex/styles.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  --path-line-height: 32px;
}

@layer utilities {
  .panel-header {
    height: var(--path-line-height);
  }
  .panel-content {
    height: calc(100% - var(--path-line-height));
  }
  .explorer-content {
    height: calc(100% - 24px);
  }
}
