@import '~react-reflex/styles.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  --path-line-height: 32px;
  --status-bar-height: 24px;
}

.panel {
  display: grid;
  grid-template-rows: var(--path-line-height) calc(
      100% - var(--path-line-height)
    );
}

.explorer-content {
  height: calc(100% - 24px);
}

.overflow-x-overlay {
  overflow-x: overlay;
}

.panels {
  display: grid;
  grid-template-rows: calc(100% - var(--status-bar-height)) var(
      --status-bar-height
    );
}

.reflex-splitter {
  z-index: 0 !important;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #18aaaa;
}

*::-webkit-scrollbar-track {
  width: 0;
  background-color: transparent;
}
