.select-palette {
}

.select-palette__item {
  cursor: pointer;
  background-color: gray;
}

.select-palette__item:hover {
  background-color: lightgray;
}

.select-palette__item--selected {
  composes: select-palette__item;
  background-color: darkgray;
}
